@import '../../styles/shared.scss';

.section {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 15px 0;

  &:not(:last-child) {
    border-bottom: 1px solid $grey_enabled;
  }

  &__title {
    margin-bottom: 10px;

    color: $black;

    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}
